@import url(variables.css);

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

.summary-card {
  border-radius: 15px;
  overflow: hidden;
  font-family: 'Hanken Grotesk', sans-serif;
  max-width: 600px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}